<div id="Comment-<%= scribble.id %>" class="comments">
        <%= form_for([scribble, scribble.comments.build]) do |f| %>
          <%= f.text_field :content,:placeholder=>"What do you think #{current_user.full_name}?",:maxlength=>"160" %>
          
          

          <br clear="all">
          <%= f.submit "Add Comment"%>
        <% end %>
      </div>