 <div id="Comment-<%= @scribble.scribble_id %>" class="comment">

        <%= form_for([scribble, scribble.comments.build]) do |f| %>
          <%= f.text_field :content,:placeholder=>"What do you think ?",:maxlength=>"160" %>

          <br clear="all">
          <%= f.submit "Add Comment", :class=>"btn btn-inverse"%>
        <% end %>
      </div>