<h2> Friend req </h2>
<ol>
	<% @user.requested_friends.each do |friend| %>
	<li>
		<%= link_to "#{friend.full_name}", user_path(friend.id)%>
		<%= link_to "accept", accept_fr_friendships_path(:id => friend.id) %> |
		<%= link_to "reject", reject_fr_friendships_path(:id => friend.id )%>
	</li>
	<% end %>
</ol>
