<%= form_for(@scribble) do |f| %>
<div class="">
        <div class="field">
                <%= f.text_area :post,:rows=>3,:placeholder=>"What's on your mind,#{current_user.full_name}?",
                :class=>"sribble-status-text"
                %>
        </div>
        <div class="sribble-status-actions" id="refreshscribbles">
                <%= f.submit "Share",:class=>"btn btn-info" %>
        </div>
</div>
<% end %>